/*https://color.adobe.com/pt/CourseShop%20%2327496d-color-theme-17146538*/

/* Color Theme Swatches in Hex */
.CourseShop-#27496d-1-hex { color: #27496D; }
.CourseShop-#27496d-2-hex { color: #9AC1EA; }
.CourseShop-#27496d-3-hex { color: #539AE6; }
.CourseShop-#27496d-4-hex { color: #435466; }
.CourseShop-#27496d-5-hex { color: #4077B3; }

/* Color Theme Swatches in RGBA */
.CourseShop-#27496d-1-rgba { color: rgba(39, 73, 109, 1); }
.CourseShop-#27496d-2-rgba { color: rgba(154, 193, 234, 1); }
.CourseShop-#27496d-3-rgba { color: rgba(83, 154, 230, 1); }
.CourseShop-#27496d-4-rgba { color: rgba(67, 84, 102, 1); }
.CourseShop-#27496d-5-rgba { color: rgba(64, 119, 179, 1); }

/* Color Theme Swatches in HSLA */
.CourseShop-#27496d-1-hsla { color: hsla(210, 47, 29, 1); }
.CourseShop-#27496d-2-hsla { color: hsla(210, 65, 76, 1); }
.CourseShop-#27496d-3-hsla { color: hsla(211, 74, 61, 1); }
.CourseShop-#27496d-4-hsla { color: hsla(210, 20, 33, 1); }
.CourseShop-#27496d-5-hsla { color: hsla(211, 47, 47, 1); }